// Colours
$dark-blue: #364051;
$lime: #81ce2c;
$dark-grey: #353535;
$red-50: #cd3116;
$green-50: #59cd4f;
$orange-50: #cd6e00;
$off-white: #e6e6e6;

// Chess board
$board-color: #325a53;
$player-white-color: #008cab;
$player-black-color: #8ce030;
$square-width: 40px;
$active-color: #008cab;
$trapdoor-color: #472a2a;

// Breakpoints
$desktop-breakpoint: 768px;
$mobile-breakpoint: 480px;
